* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 0 5%;
  margin-top: 25px;
}

header {
  height: 100px;
}

[class^="col-"] {
  float: left;
}

/* Attibute row */
.row:after {
  content: "";
  clear: both;
  display: table;
}
/* Header propriety */
.logo {
  width: 10%;
  height: auto;
}

.menu {
  display: inline-block;
  font-size: 20px;
  color: rgb(189, 189, 189);
  padding-right: 5px;
  margin-top: 10px;
}

/* banner1 */

.banner1 {
  background-image: url(../img/banner.jpg);
  width: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub-banner1 {
  color: white;
  background-color: rgba(203, 195, 193, 0.5);
  height: 100%;
  border-radius: 10px;
}

.title-container {
  padding: 24% 2em 7%;
}

.immage-title {
  width: 45%;
}

/* Main */

.main-title {
  font-size: 2em;
}

.gray {
  color: lightgray;
}

.img-width {
  width: 100%;
}

.img-height {
  height: 240px;
}

.banner2 {
  width: 90%;
  height: 25%;
}

/* Footer */

.center {
  text-align: center;
}

.heart {
  color: red;
}

/* Column's dettails */
.col-100 {
  width: 100%;
}

.col-17 {
  width: 17%;
}

.col-60 {
  width: 60%;
}


/* extra */
.mt-1 {
  margin-top: 25px;
}
.mlr {
  margin: 0 3%;
}

.ml-1 {
  margin-left: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.mr-1{
  margin-right: 2em;
}
